<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Al Margen.net{% endblock %}</title>

        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css')}}">
          <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
          <link rel="stylesheet" href="{{ asset('assets/css/normalize.css')}}">
        {% endblock %}
        {% block masterhead %}
          {% include 'elements/navBar.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block javascripts %}
          <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
